<?xml version='1.0' encoding='utf-8'?>
<widget id="net.iobroker.vis" version="1.0.6" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ioBroker.vis</name>
    <description>
        ioBroker.vis runtime for ioBroker.
    </description>
    <author email="dogafox@gmail.com" href="http://iobroker.net">
        Bluefox
    </author>
    <icon src="img/icon.png" />
    <content src="index.html" />
    <access origin="*" />
    <access origin="cdvfile://*" />
    <access origin="file://*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="file://*/*" />
    <allow-intent href="cdvfile://*/*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="*" />
    <allow-navigation href="file://*/*" />
    <allow-navigation href="cdvfile://*/*" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="iosPersistentFileLocation" value="Library" />
    <preference name="BackupWebStorage" value="none" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^6.2.3" />
    <plugin name="com.pylonproducts.wifiwizard" spec="~0.2.11" />
    <plugin name="cordova-plugin-certificates" spec="^0.6.4" />
    <plugin name="cordova-plugin-file" spec="^4.3.3" />
    <plugin name="cordova-plugin-network-information" spec="^1.3.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
</widget>
